
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
    }

    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }

    .exam-card {
        background: linear-gradient(to right, rgb(85, 3, 172), rgb(146, 77, 219));
        color: #fff;
        padding: 20px;
        margin: 15px 0;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .exam-card h3 {
        margin: 0;
        font-size: 1.5em;
        color: #f0f0ff;
        text-transform: capitalize;
    }

    .exam-details {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        justify-content: space-between;
    }

    .exam-details div {
        flex: 1 1 200px;
        margin-bottom: 10px;
    }

    .exam-details div span {
        font-weight: bold;
        display: block;
        color: #e0e0ff;
    }

    .take-test-btn {
        background-color: #6d28d9;
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 20px;
        font-size: 1.2em;
        display: block;
        width: 100%;
        max-width: 300px;
        text-align: center;
        transition: background-color 0.3s ease, transform 0.3s;
    }

    .take-test-btn:hover {
        background-color: #5b21b6;
        transform: translateY(-3px);
    }

    /* Disabled button styles */
    .take-test-btn:disabled {
        background-color: #d3d3d3;
        cursor: not-allowed;
    }

    .exam-details div:last-child {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .exam-details {
            flex-direction: column;
        }

        .take-test-btn {
            width: 100%;
        }
    }

